#
# Add packages here to install them using:
#   pip install -r requirements.txt
#

click
Flask-Script
Flask-Bootstrap
Flask-Markdown
vcftoolbox>=1.4
path.py
ped-parser
intervaltree
phizz>=0.2.3
sqlalchemy
query-phenomizer>=0.5
pyyaml
cython
numpy
cyvcf2
