#
# Add packages here to install them using:
#   pip install -r requirements.txt
#

-r requirements/conda.txt

click
Flask-Script
Flask-Bootstrap
vcftoolbox>=1.3.1
path.py
ped-parser
intervaltree
phizz>=0.1.1
sqlalchemy
query-phenomizer>=0.5
pyyaml