{% extends "layouts/base.html" %}

{% block body_content %}

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<span class="lead">Case: <span class="text-primary">{{ case.name }}</span></span>

				<a class="btn btn-primary pull-right btn-sm" href="{{ url_for('variants.variants', case_id=case_id) }}">Variants</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Individuals</div>
			<ul class="list-group">
				{% for individual in case.individuals %}
					<li class="list-group-item">
						{% if individual.is_affected %}
							<span class="badge">AFFECTED</span>
						{% endif %}
						{{ individual.ind_id }}
						<small><strong class="text-info">
							{% if individual.sex_human != 'unknown' %}
								{{ individual.sex_human }}
							{% endif %}
						</strong></small>
					</li>
				{% else %}
					<li class="list-group-item">No individuals found.</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% endblock %}
