{% extends "layouts/base.html" %}
{% from "macros/variant.html" import omim_links %}
{% from "macros/filters.html" import filters_form %}

{% block body_content %}
	<div class="panel-group" id="filter-accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#view-filters">Filters</a>
				</h4>
			</div>

			<div id="view-filters" class="panel-collapse collapse">
				<div class="panel-body">
					{{ filters_form(case_id, inheritance_models, consequences, filters) }}
				</div>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Rank#</th>
					<th>Score</th>
					<th>Type</th>
					<th>Chr</th>
					<th>Start</th>
					<th>Stop</th>
					<th>Length</th>
					<th>Nr Genes</th>
					<th>Gene</th>
				</tr>
			</thead>
			<tbody>
				{% for variant in variants %}
					<tr>
						<td><a href="{{ url_for('variants.variant', case_id=case_id, variant_id=variant.variant_id) }}">{{ variant.index }}</a></td>
						<td>{{ variant.rank_score or '-' }}</td>
						<td>{{ variant.sv_type or '-' }}</td>
						<td>{{ variant.CHROM }}</td>
						<td>{{ variant.start or '-' }}</td>
						<td>{{ variant.stop or '-' }}</td>
						<td>{{ variant.sv_len }}</td>
						<td>{{ variant.nr_genes }}</td>
						<td>{{ omim_links(variant.genes[:2]) }}</td>
					</tr>
				{% else %}
					<p>No more variants to show.</p>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<a href="{{ url_for('variants.variants', case_id=case_id, **filters.query_dict) }}" class="btn btn-default">Load more</a>
{% endblock %}

{% block js_bottom %}
	{{ super() }}
	<script type="text/javascript" charset="utf-8">
		$('.selectpicker').selectpicker();
	</script>
{% endblock %}
