{% extends "layouts/base.html" %}
{% from "macros/variant.html" import omim_links %}

{% block body_content %}
	<div class="panel panel-default">
		<div class="panel-heading">Filters</div>
		<div class="panel-body">
			<form class="form-inline" method="get" action="{{ url_for('variants.variants', case_id=case_id) }}">
				<div class="input-group">
					<div class="input-group-addon">1000GAF</div>
					<input name="thousand_g" type="number" class="form-control" placeholder="0.0004" step="0.0001" value="{{ thousand_g }}">
				</div>

				<div class="input-group">
					<div class="input-group-addon">Genes</div>
					<input name="gene_symbol" type="text" class="form-control" placeholder="ADK,LPP" value="{{ (gene_symbols or '')|join(',') }}"></input>
				</div>

				<button class="btn btn-default" type="submit">Filter</button>
			</form>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Rank #</th>
					<th>Score</th>
					<th>Chromosome</th>
					<th>Gene</th>
					<th>Consequence</th>
					<th>1000G</th>
					<th>CADD</th>
				</tr>
			</thead>
			<tbody>
				{% for variant in variants %}
					<tr>
						<td><a href="{{ url_for('variants.variant', case_id=case_id, variant_id=variant.variant_id) }}">{{ variant.index }}</a></td>
						<td>{{ variant.rank_score }}</td>
						<td>{{ variant.CHROM }}</td>
						<td>{{ omim_links(variant.genes) }}</td>
						<td>{{ variant.most_severe_consequence or '-' }}</td>
						<td>
							{% if variant.thousand_g %}
								{{ variant.thousand_g|round(4) }}
							{% else %}
								<small class="text-muted">-</small>
							{% endif %}
						</td>
						<td>{{ variant.cadd_score or '-' }}</td>
					</tr>
				{% else %}
					<p>No more variants to show.</p>
				{% endfor %}
			</tbody>
		</table>
	</div>

	{{ query_dict.update({'skip': next_skip})|default('', True) }}
	<a href="{{ url_for('variants.variants', case_id=case_id, **query_dict) }}" class="btn btn-default">Load more</a>
{% endblock %}
