{% extends "layouts/base.html" %}
{% from "macros/variant.html" import compounds, gt_call %}

{% block body_content %}
	<div class="row">
		<div class="col-md-6">
			<ul class="list-group">
				<li class="list-group-item">
					<span class="badge">{{ variant.rank_scores.values()[0] }}</span>
					Rank score
				</li>

				{% if variant.info_dict.CADD %}
					<li class="list-group-item">
						<span class="badge">
							{{ variant.info_dict.CADD|join(', ') }}
						</span>
						CADD score
					</li>
				{% endif %}
			</ul>
		</div>
		<div class="col-md-6"></div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<ul class="list-group">
				<li class="list-group-item active">Frequencies</li>
				<li class="list-group-item">
					<span class="badge">{{ variant.info_dict['1000GAF']|map('float')|map('round', 4)|join(', ') }}</span>
					Thousand genomes
				</li>
				<li class="list-group-item">
					<span class="badge">{{ variant.info_dict.EXACAF|map('float')|map('round', 4)|join(', ') }}</span>
					ExAC 
				</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">{{ gt_call(variant.genotypes) }}</div>
		<div class="col-md-4"></div>
	</div>

	{% if variant.compound_variants %}
	<div class="row">
		<div class="col-md-12">
			{{ compounds(variant.compound_variants) }}
		</div>
	</div>
	{% endif %}
{% endblock %}
