{% extends "layouts/base.html" %}

{% block body_content %}
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Rank #</th>
					<th>Score</th>
					<th>Chromosome</th>
					<th>Gene</th>
					<th>Consequence</th>
					<th>1000G</th>
					<th>CADD</th>
				</tr>
			</thead>
			<tbody>
				{% for variant in variants %}
					<tr>
						<td><a href="{{ url_for('variants.variant', case_id=case_id, variant_id=variant.variant_id) }}">{{ variant.index }}</a></td>
						<td>{{ variant.rank_score }}</td>
						<td>{{ variant.CHROM }}</td>
						<td>{{ variant.hgnc_symbols|join(', ') }}</td>
						<td>{{ variant.most_severe_consequence or '-' }}</td>
						<td>{{ variant.thousand_g or '-' }}</td>
						<td>{{ variant.cadd_score or '-' }}</td>
					</tr>
				{% else %}
					<p>No more variants to show.</p>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<a href="{{ url_for('variants.variants', case_id=case_id, skip=next_skip) }}" class="btn btn-default">Load more</a>
{% endblock %}
