{% macro gt_call(individuals) -%}
    <table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th rowspan="2">Case</th>
				<th rowspan="2">Sample</th>
				<th rowspan="2">Genotype (GT)</th>
				<th colspan="2">Support (SU)</th>
			</tr>
			<tr>
				<th>PE</th>
				<th>SR</th>
			</tr>
		</thead>
		<tbody>
			{% for individual in individuals %}
				<tr>
					<td>{{ individual.case_id }}</td>
					<td>
						{% if individual.is_affected %}
							<strong><mark>{{ individual.sample_id }}</mark></strong>
						{% else %}
							{{ individual.sample_id }}
						{% endif %}
					</td>
					<td>{{ individual.genotype }}</td>
					<td>{{ individual.pe_support }}</td>
					<td>{{ individual.sr_support }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{%- endmacro %}

{% macro compounds_table(compound_variants, case_id) -%}
	<table class="table table-bordered table-hover">
		<caption>Compounds</caption>
		<thead>
			<tr>
				<th>Variant</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody>
			{% for compound in compound_variants %}
				<tr>
					<td><a href="{{ url_for('variants.variant', case_id=case_id, variant_id=compound.variant_id) }}">{{ compound.variant_id|truncate(20) }}</a></td>
					<td>{{ compound.combined_score }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{%- endmacro %}

{% macro vep_transcripts(transcripts) %}
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<caption>Transcripts</caption>
			<thead>
				<tr>
					<th>Gene</th>
					<th>Transcript</th>
					<th>Biotype</th>
					<th>Consequence</th>
					<th>Strand</th>
					<th>Sift</th>
					<th>PolyPhen</th>
					<th>Exon</th>
					<th>cDNA</th>
					<th>Amino acid</th>
				</tr>
			</thead>
			<tbody>
				{% for transcript in transcripts %}
					<tr>
						<td>{{ transcript.SYMBOL }}</td>
						<td>{{ transcript.Feature }}</td>
						<td>{{ transcript.BIOTYPE }}</td>
						<td>{{ transcript.Consequence }}</td>
						<td>{{ transcript.STRAND }}</td>
						<td>{{ transcript.SIFT }}</td>
						<td>{{ transcript.PolyPhen }}</td>
						<td>{{ transcript.EXON }}</td>
						<td>{{ transcript.HGVSc }}</td>
						<td>{{ transcript.HGVSp }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endmacro %}

{% macro gene_table(genes) %}
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<caption>Genes</caption>
			<thead>
				<tr>
					<th>Gene</th>
					<th>ID</th>
					<th>Location</th>
					<th>Description</th>
					<th>Omim</th>
					<th>Morbid</th>
					<th>DDGP2</th>
					<th>HI</th>
				</tr>
			</thead>
			<tbody>
				{% for gene in genes %}
					<tr>
						<td>{{ gene.symbol }}</td>
						<td>{{ gene.ensembl_id or '-' }}</td>
						<td>{{ gene.location or '-' }}</td>
						<td>{{ gene.description or '-' }}</td>
						<td>{{ gene.omim or '-' }}</td>
						<td>{{ gene.morbid or '-' }}</td>
						<td>{{ gene.ddgp2 or '-' }}</td>
						<td>{{ gene.hi or '-' }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endmacro %}


{% macro omim_links(genes) %}
	{% for gene in genes %}
		{% if gene.omim_number %}
			<a href="http://www.omim.org/entry/{{ gene.omim_number }}" target="_blank">
				{{ gene.symbol }}
			</a>
		{% else %}
			{{ gene.symbol }}
		{% endif %}
	{% endfor %}
{% endmacro %}
