{% macro gt_call(individuals) -%}
    <table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th rowspan="2">Family</th>
				<th rowspan="2">Sample</th>
				<th rowspan="2">Genotype (GT)</th>
				<th colspan="2">Allele depth (AD)</th>
				<th rowspan="2">Quality (GQ)</th>
			</tr>
			<tr>
				<th>Ref</th>
				<th>Alt</th>
			</tr>
		</thead>
		<tbody>
			{% for individual in individuals %}
				<tr>
					<td>{{ individual.family_id }}</td>
					<td>{{ individual.sample_id }}</td>
					<td>{{ individual.genotype }}</td>
					<td>{{ individual.ref_depth }}</td>
					<td>{{ individual.alt_depth }}</td>
					<td>{{ individual.genotype_quality }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{%- endmacro %}

{% macro compounds_table(compound_variants, case_id) -%}
	<table class="table table-bordered table-hover">
		<caption>Compounds</caption>
		<thead>
			<tr>
				<th>Variant</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody>
			{% for compound in compound_variants %}
				<tr>
					<td><a href="{{ url_for('variants.variant', case_id=case_id, variant_id=compound.variant_id) }}">{{ compound.variant_id|truncate(20) }}</a></td>
					<td>{{ compound.combined_score }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{%- endmacro %}

{% macro vep_transcripts(transcripts) %}
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<caption>Transcripts</caption>
			<thead>
				<tr>
					<th>Gene</th>
					<th>Transcript</th>
					<th>Biotype</th>
					<th>Consequence</th>
					<th>Strand</th>
					<th>Sift</th>
					<th>PolyPhen</th>
					<th>Exon</th>
					<th>cDNA</th>
					<th>Amino acid</th>
				</tr>
			</thead>
			<tbody>
				{% for transcript in transcripts %}
					<tr>
						<td>{{ transcript.SYMBOL }}</td>
						<td>{{ transcript.Feature }}</td>
						<td>{{ transcript.BIOTYPE }}</td>
						<td>{{ transcript.Consequence }}</td>
						<td>{{ transcript.STRAND }}</td>
						<td>{{ transcript.SIFT }}</td>
						<td>{{ transcript.PolyPhen }}</td>
						<td>{{ transcript.EXON }}</td>
						<td>{{ transcript.HGVSc }}</td>
						<td>{{ transcript.HGVSp }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endmacro %}

{% macro omim_links(genes) %}
	{% for gene in genes %}
		{% if gene.omim_number %}
			<a href="http://www.omim.org/entry/{{ gene.omim_number }}" target="_blank">
				{{ gene.symbol }}
			</a>
		{% else %}
			{{ gene.symbol }}
		{% endif %}
	{% endfor %}
{% endmacro %}
