{% extends "layouts/base.html" %}
{% from "macros/genes.html" import gene_table %}
{% from "macros/gt_calls.html" import sv_gt_call %}
{% from "macros/compounds.html" import compounds_table %}
{% from "macros/links.html" import omim_links %}

{% block nav_left %}
  <li>
    <a href="{{ url_for('public.case', case_id=case_id) }}">{{ case_id }}</a>
  </li>

  <li>
    <a href="{{ url_for('variants.variants', case_id=case_id) }}">Variants</a>
  </li>
{% endblock %}

{% block container %}
  {# Overview #}
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">{{ variant.index }}</span>
          Ranking
        </li>

        {% if variant.rank_score %}
          <li class="list-group-item">
            <span class="badge">{{ variant.rank_score }}</span>
            Rank score
          </li>
        {% endif %}

        {% if variant.sv_type %}
          <li class="list-group-item">
            <span class="badge">{{ variant.sv_type }}</span>
            SV Type
          </li>
        {% endif %}

        {% if variant.sv_len %}
          <li class="list-group-item">
            <span class="pull-right">{{ '{0:,}'.format(variant.sv_len) }} bp</span>
            Length of SV
          </li>
        {% endif %}
      </ul>
    </div>

    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          Position
          <div class="pull-right">
            <a href=http://localhost:60151/goto?locus={{ variant.CHROM }}:{{ variant.POS }}>
              {{ variant.CHROM }}:{{ variant.POS }}</a>
            {% if not variant.is_intrachromosomal %}
              <a href=http://localhost:60151/goto?locus={{ variant.CHROM }}:{{ variant.POS }}-{{ variant.stop }}>
                <span class="glyphicon glyphicon-arrow-right"></span>
              </a>
            {% else %}
              <span class="glyphicon glyphicon-arrow-right"></span>
            {% endif %}
            <a href=http://localhost:60151/goto?locus={{ variant.stop_chrom }}:{{ variant.stop }}>
              {{ variant.stop_chrom or '-' }}:{{ variant.stop or '-' }}
            </a>
          </div>
        </li>

        <li class="list-group-item">
          Cytoband
          <div class="pull-right">
            {{ variant.cytoband_start }}
            <span class="glyphicon glyphicon-arrow-right"></span>
            {{ variant.cytoband_stop }}
          </div>
        </li>

        <li class="list-group-item">
          SV location
          <div class="pull-right">
            {% if variant.is_intrachromosomal %}
              <span class="badge">Intrachromosomal</span>
            {% else %}
              <span class="badge">Interchromosomal</span>
            {% endif %}
          </div>
        </li>
      </ul>
    </div>
  </div>

  {# Genotype and frequency #}
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Frequencies</div>

        <ul class="list-group">
          {% for frequency in variant.frequencies %}
            <li class="list-group-item">
              <span class="badge">
                {% if frequency.value %}
                  {{ frequency.value }}
                {% else %}
                  —
                {% endif %}
              </span>
              {{ frequency.label }}
            </li>
          {% else %}
            <li class="list-group-item">No frequencies.</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="col-md-6">{{ sv_gt_call(case_id, variant.individuals) }}</div>
  </div>

  {# External links #}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">External links</div>
        <div class="panel-body">
          <div class="btn-group" role="group">
            <a class="btn btn-default" href="http://grch37.ensembl.org/Homo_sapiens/Location/View?db=core;r={{ variant.CHROM }}:{{ variant.start }}-{{ variant.stop }}" target="_blank">Ensembl</a>

            <a class="btn btn-default" href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&position=chr{{ variant.CHROM }}:{{ variant.start }}-{{ variant.stop }}&dgv=pack&knownGene=pack&omimGene=pack" target="_blank">UCSC</a>

            <a class="btn btn-default" href="https://www.solvebio.com/variant/GRCh37-chr{{ variant.CHROM }}-{{ variant.start }}-{{ variant.stop }}-{{ variant.ALT }}" target="_blank">SolveBio</a>

            {% if variant.ID %}
              <a class="btn btn-default" href="http://snpedia.com/index.php/{{ variant.ID }}" target="_blank">SNPedia</a>
            {% endif %}

            <a class="btn btn-default" href="http://tools.genes.toronto.edu/" target="_blank">SPANR</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if variant.genes %}
    <div class="row">
      <div class="col-md-12">{{ gene_table(variant.genes) }}</div>
    </div>
  {% endif %}
{% endblock %}

{% block js_bottom %}
  {{ super() }}
  <script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('#genes_list').DataTable({
      "paging":   true,
      "pageLength": 30,
      "searching": false,
      "info": false
    });
  });
  </script>
{% endblock %}
