{% macro select_input(name, items, selected=None, multiple=False, required=False) %}
  <select class="selectpicker form-control"
          name="{{ name }}"
          {% if multiple %}multiple{% endif %}
          {% if required %}required{% endif %}>
    {% for item in items %}
      {% if selected and item in selected %}
        <option value="{{ item }}" selected>{{ item }}</option>
      {% else %}
        <option value="{{ item }}">{{ item }}</option>
      {% endif %}
    {% endfor %}
  </select>
{% endmacro %}
